body {
    background-color: #c9f3c3;
    font-family: Cambria;
}

#glavni {
    background-color: white;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding-top: 0px;
}

#gornji {
    background-image: url("slike/naslovna.jpg");
    width: 1000px;
    height: 360px;
    background-size: 1000px 360px;
    margin-top: 0px;
    padding-top: 0px;
}

#lijevi {
    width: 200px;
    margin-top: 25px;
}

#desni {
    width: 745px;
    margin-left: 250px;
    margin-top: -260px;
    border: 2px solid green;
    box-shadow: 0px 0px 10px green;
}

#lijevi ul li{
    background-color: #eeecec;
    border: 1px solid green;
    font-size: 20px;
    padding-bottom: 5px;
    padding-left: 40px;
    padding-top: 10px;
    border-radius: 0px 20px 20px 0px;
    margin-top: 15px;
    box-shadow: 5px 0px 10px green;
    -webkit-transition: padding-left 0.6s;
    width: 160px;
    text-align: left;
}

#lijevi ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#lijevi ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#lijevi ul li:hover{
    padding-left: 60px;
}

#gornji p{
    padding-top: 50px;
    padding-left: 15px;
    font-size: 90px;
    margin-top: 0px;
    font-weight: bold;
    font-family: 'Kaushan Script', cursive;
}

h3{
    padding-left: 300px;
    padding-top: 40px;
}

#novost1 p{
    width: 400px;
    float: right;
    text-align: justify;
    padding-right: 45px;
}

.novost1_slika{
    margin-left: 30px;
    margin-bottom: 30px;
    margin-top: -50px;
    width: 250px;
    height: 250px;
}

.datum1{
     margin-left: 100px;
     font-size: x-small;
     color: #808080;
}

#novost2 p{
    width: 400px;
    float: right;
    text-align: justify;
    padding-right: 45px;
}

.novost2_slika{
    margin-left: 30px;
    margin-bottom: 30px;
    margin-top: -50px;
    width: 250px;
    height: 250px;
}

.datum2{
     margin-left: 100px;
     font-size: x-small;
     color: #808080;
}

#copyright{
     height: 20px;
     width: 1000px;
     margin-top: 20px;
     margin-bottom: 0px;
}

#copyright p{
     font-size: small;
     border: 2px solid green;
     box-shadow: 0px 0px 10px green;
     text-align: center;
}

#desni ul li{
     font-size: 50px;
}

.tabela1{
     text-align: left;
     padding-left: 100px;
     padding-top: 70px;
     padding-bottom: 50px;
     padding-right: 100px;
     border-color: green;
     border-spacing: 0px;
     width: 100%;
     
}

.cjenovnik{
     background-color: #c9f3c3;
     text-align: center;
     height: 10px;
     border: 1px solid green;
}

.sredina{
     text-align: center;
     font-weight: bold;
     background-color: #eeecec;
     border: 1px solid green;
}

#onama_slika{
     height: 110px;
     width: 110px;
     transform: rotate(-50deg);
     padding-top: 20px;
     padding-left: 20px;
}

#onama{
     width: 600px;
     padding-left: 100px;
     padding-top: 0px;
}

#desni ul li{
    list-style-image: url(https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpf1/v/t34.0-12/11015894_10205260459883329_73680129_n.jpg?oh=3643c078b9884f60b54ad40bec0ebdad&oe=5519C611&__gda__=1427674753_d8731ad78a133965585f84511ba6442c);
}

#desni ul li a{
     text-decoration: none;
     font-size: 17px;
}

#slika1{
    background-image: url(slike/popravke.jpg);
    height: 165px;
    width: 220px;
}

#slika2{
    background-image: url(slike/pregled.jpg);
    height: 200px;
    width: 220px;
    margin-top: 30px;
}

#lijevi_slike{
    width: 245px;
    height: 500px;
    margin-top: -500px;
    margin-left: 15px;
}

.tekstT{
    padding-left: 395px;
}

.nazivi{
    text-align: left;
    background-color: #eeecec;
    border: 1px solid green;
}

.cijene{
    text-align: left;
    border: 1px solid green;
}

.tekst{
    margin-left: 20px;
    margin-top: 40px;
    width: 730px;
}

#stakla ul li{
    list-style-image: url(https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpt1/v/t34.0-12/11079047_10205260504164436_958409188_n.jpg?oh=5a173e53af6c7cad49f5ee6f9771ad04&oe=5519D060&__gda__=1427759307_3ee07766a217b757d27ebd3c70547c0e);
}

#stakla ul li a{
    text-decoration: none;
}

#logo{
    height: 1000px;
    width: 170px;
    float: right;
    margin-right: 60px;
}

#logo1{
    height: 650px;
    width: 60px;
    float: right;
    margin-right: 160px;
}

.logoS{
    height: 150px;
    width: 150px;
}

#naslovi{
    text-align: center;
    text-shadow: 2px 2px green;
}

#slikaOnama{
    height: 450px;
    width: 600px;
    margin-left: 75px;
    margin-bottom: 30px;
}

h2{
    margin-left: 30px;
    text-shadow: 1px 1px green;
}

#tekstK{
    font-size: large;
    margin-left: 30px;
}

label{
    display: inline-block;
    float: left;
    clear: left;
    width: 150px;
    margin-left: 40px;
}

desni.kontakt1{
  display: inline-block;
  float: left;
}

.kontakt1{
  width: 200px;
  height: 17px;
}

#poruka{
  margin-left: 190px;
}

#potvrdi{
  margin-left: 190px;
}

#ponisti{
  margin-left: 260px;
}

#tekstic{
  float: right;
  margin-top: -50px;
}

#ime-warning, #naslov-warning, #poruka-warning, #email-warning, #artikal-warning{
  visibility: hidden;
  width: 20px;
  height: 20px;
}

#ime-tekst{
  visibility: hidden;
  font-weight: bold;
  color: red;
  float: right;
  margin-left: auto;
  font-size: small;
  margin-right: 150px;
}

#naslov-tekst{
  visibility: hidden;
  font-weight: bold;
  color: red;
  float: right;
  margin-left: auto;
  font-size: small;
  margin-right: 145px;
}

#poruka-tekst{
  visibility: hidden;
  font-weight: bold;
  color: red;
  float: right;
  margin-left: auto;
  font-size: 10px;
  margin-top: 143px;
}

#email-tekst{
  visibility: hidden;
  font-weight: bold;
  color: red;
  float: right;
  margin-left: auto;
  font-size: small;
}

#artikal-tekst{
  visibility: hidden;
  font-weight: bold;
  color: red;
  float: right;
  margin-left: auto;
  font-size: small;
  margin-right: 90px;
}

#artikal, #label_artikal{
  visibility: hidden;
}