body {
    background-color: #c9f3c3;
    font-family: Cambria;
}

#glavni {
    background-color: white;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding-top: 0px;
}

#gornji {
    background-image: url("https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpf1/v/t34.0-12/11039933_10203618351326507_736101450_n.jpg?oh=f0cc3d34089a7fb0fdf30e4fe80fbc84&oe=5515B6C1&__gda__=1427493045_1bad467df8db90faf756b5c378b57ba9");
    width: 1000px;
    height: 360px;
    background-size: 1000px 360px;
    margin-top: 0px;
    padding-top: 0px;
}

#lijevi {
    width: 200px;
    margin-top: 25px;
}

#desni {
    width: 745px;
    margin-left: 250px;
    margin-top: -260px;
    border: 2px solid green;
    box-shadow: 0px 0px 10px green;
}

#lijevi ul li{
    background-color: #eeecec;
    border: 1px solid green;
    font-size: 20px;
    padding-bottom: 5px;
    padding-left: 40px;
    padding-top: 10px;
    border-radius: 0px 20px 20px 0px;
    margin-top: 15px;
    box-shadow: 5px 0px 10px green;
    -webkit-transition: padding-left 0.6s;
    width: 160px;
    text-align: left;
}

#lijevi ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#lijevi ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#lijevi ul li:hover{
    padding-left: 60px;
}

#gornji p{
    padding-top: 50px;
    padding-left: 15px;
    font-size: 90px;
    margin-top: 0px;
    font-weight: bold;
    font-family: 'Kaushan Script', cursive;
}

h3{
    padding-left: 300px;
    padding-top: 40px;
}

#novost1 p{
    width: 400px;
    float: right;
    text-align: justify;
    padding-right: 45px;
}

.novost1_slika{
    margin-left: 30px;
    margin-bottom: 30px;
    margin-top: -50px;
    width: 250px;
    height: 250px;
}

.datum1{
     margin-left: 100px;
     font-size: x-small;
     color: #808080;
}

#novost2 p{
    width: 400px;
    float: right;
    text-align: justify;
    padding-right: 45px;
}

.novost2_slika{
    margin-left: 30px;
    margin-bottom: 30px;
    margin-top: -50px;
    width: 250px;
    height: 250px;
}

.datum2{
     margin-left: 100px;
     font-size: x-small;
     color: #808080;
}

#copyright{
     height: 20px;
     width: 1000px;
     margin-top: 20px;
     margin-bottom: 0px;
}

#copyright p{
     font-size: small;
     border: 2px solid green;
     box-shadow: 0px 0px 10px green;
     text-align: center;
}

#desni ul li{
     font-size: 50px;
}

#tabela{
     text-align: left;
     padding-left: 100px;
     padding-top: 70px;
     padding-bottom: 100px;
     padding-right: 100px;
     border-color: green;
     border-spacing: 0px;
}

#cjenovnik{
     background-color: #c9f3c3;
     text-align: center;
     height: 10px;
}

#sredina{
     text-align: center;
     font-weight: bold;
}

#onama_slika{
     height: 110px;
     width: 110px;
     transform: rotate(-50deg);
     padding-top: 20px;
     padding-left: 20px;
}

#onama{
     width: 600px;
     padding-left: 100px;
     padding-top: 0px;
}

#desni ul li{
    list-style-image: url();
}

#desni ul li a{
     text-decoration: none;
     font-size: 20px;
     text-align: center;
}

.slika1{
    background-image: url(http://www.jpeg-optimizer.com/uploaded_images_final/brokenglasses__1427565656_77.239.16.51.jpg);
    height: 165px;
    width: 220px;
    margin-top: -700px;
    margin-left: 10px;
}

.slika2{
    background-image: url(http://www.jpeg-optimizer.com/uploaded_images_final/OPTIKA__1427565697_77.239.16.51.jpg);
    height: 200px;
    width: 220px;
    margin-top: 20px;
    margin-left: 10px;
}

.lijevi_slike{
    width: 245px;
    height: 450px;
    margin-top: 250px;
    margin-left: 0px;
}